<h1>Candidates</h1>
<br>

<div class="panel panel-primary">
    <div class="panel-heading">Nominate a Candidate</div>
    <div class="panel-body">
    <form>
    <div ng-if="message">
        <h4>{{message}}</h4>
    </div>
        <div class="form-group">
            <label for="candidate">Candidate</label>
            <input type="text" class="form-control" ng-model="candidate_name" id="candidate">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <small id="mdHelp" class="form-text text-muted">Markdown</small>
            <textarea type="textarea" rows="10" class="form-control" ng-model="candidate_description" id="description"></textarea>
        </div>
        <button ng-click="create_candidate()" type="submit" class="btn btn-md btn-default">Nominate</button>
    </form>
    </div>
</div>
