<h1>Candidates</h1>
<br>
<div class="panel panel-primary">
    <div class="panel-heading">Nominate a Candidate</div>
    <div class="panel-body">
    <form>
    <div ng-if="message">
        <h4>{{message}}</h4>
    </div>
        <div class="form-group">
            <div class="input-group input-group-md">
                <span class="input-group-addon">Name</span>
                <input type="text" ng-model="candidate_name" class="form-control">
                <span class="input-group-btn">
                    <button ng-click="create_candidate()" type="submit" class="btn btn-md btn-default">Nominate</button>
                </span>
            </div>
        </div>
    </form>
    </div>
</div>
<button type="button" class="btn btn-default" ng-click="candidateModalCtrl.open()">Open me!</button>