<div class="page-header">
    <h1>Vote</h1>
</div>
<div ng-if="username">
  <div class="panel panel-primary">
    <div class="panel-heading">Points Remaining</div>
  <div class="panel-body">
     <!--Welcome, {{username}}-->
      {{pointsRemaining}}
  </div>
  </div>
</div>
<div ng-if="message">
    <h4>{{message}}</h4>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Poll</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr><th>Upvote</th><th>Candidate</th><th>Points</th><th ng-if="privilege==1">Delete</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in candidates|orderBy:orderByField:reverseSort">
          <td ng-click="upvote(this)"><span><i class="fa fa-arrow-up faa-fast faa-burst animated-active" aria-hidden="true"></i></span></td>
          <td style="display:none;">{{ x._id }}</td>
          <td>
            <div ng-controller="modalCtrl as $ctrl">
              <a href="" ng-click="$ctrl.open(x)">{{ x.name }}</a>   
            </div>
          </td>
          <td>{{ x.points }}</td>
          <td ng-click="delete(this)" ng-if="privilege==1"><span><i class="fa fa-trash faa-fast faa-burst animated-active" aria-hidden="true"></i></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>